NodeRedFlows.json
[{"id":"168f82b2.1ff2cd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10f908a4.588d47","type":"inject","z":"168f82b2.1ff2cd","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":90,"y":600,"wires":[["e6e7fc80.fa627"]]},{"id":"e6e7fc80.fa627","type":"file in","z":"168f82b2.1ff2cd","name":"sampleData","filename":"/Users/hrutvik/Desktop/DHTsample - Sheet.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":140,"y":460,"wires":[["355cadb8.dc95b2"]]},{"id":"9f28e626.07e0e8","type":"debug","z":"168f82b2.1ff2cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":420,"wires":[]},{"id":"d5f3e439.5a5e08","type":"delay","z":"168f82b2.1ff2cd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":380,"wires":[["f94360fa.8a5b3"]]},{"id":"355cadb8.dc95b2","type":"csv","z":"168f82b2.1ff2cd","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":190,"y":380,"wires":[["d5f3e439.5a5e08"]]},{"id":"f94360fa.8a5b3","type":"function","z":"168f82b2.1ff2cd","name":"","func":"const threshold=50;\n\nvar topic=msg.topic;\n\nvar payload=msg.payload; //payload is an object with attributes: temperature, humidity\n\n//var parsedArray= new Array(msg.payload.length);\n//parsedArray= msg.payload.split(\",\");\n\nif (payload.temperature>50){\n\n    //must return a msg object: var msg={payload:msg.payload.length}\n            var emergencyMsg={payload:\"EMERGENCY\"};\n            return emergencyMsg;\n        }\n    \n    \n\nreturn msg;\n\n//if (topic==\"humidity\"){\n    \n//}\n\n\n","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["9f28e626.07e0e8"]]}]