testDijsktraFlow.json
[{"id":"6b9c950.7945c6c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a6fc8ab9.bb4608","type":"inject","z":"6b9c950.7945c6c","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":90,"y":500,"wires":[["4993aa0b.2788b4"]]},{"id":"4993aa0b.2788b4","type":"file in","z":"6b9c950.7945c6c","name":"sampleData","filename":"/Users/hrutvik/Desktop/DHTsample - Sheet.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":140,"y":360,"wires":[["5f771d2f.fad664"]]},{"id":"68fe1703.2a04a8","type":"delay","z":"6b9c950.7945c6c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":280,"wires":[["1959ea5e.889d56"]]},{"id":"5f771d2f.fad664","type":"csv","z":"6b9c950.7945c6c","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":190,"y":280,"wires":[["68fe1703.2a04a8"]]},{"id":"1959ea5e.889d56","type":"function","z":"6b9c950.7945c6c","name":"","func":"const threshold=50;\n\nvar topic=msg.topic;\n\nvar payload=msg.payload; //payload is an object with attributes: temperature, humidity\n\n//var parredArray= new Array(msg.payload.length);\n//parsedArry= msg.payload.split(\",\");\n\nif (payload.temperature>50){\n\n    //must return a msg object: var msg={payload:msg.payload.length}\n            var emergencyMsg={payload:\"EMERGENCY\"};\n            return emergencyMsg;\n        }\n    \n    \n\nreturn msg;\n\n//if (topic==\"humidity\"){\n    \n//}\n\n\n","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["a827244d.cb79c8","73e599eb.dc1bc8"]]},{"id":"a827244d.cb79c8","type":"mqtt out","z":"6b9c950.7945c6c","name":"Node Red Android Studio Test","topic":"Sensor/Data","qos":"1","retain":"","broker":"2a1eca1a.a53b96","x":630,"y":400,"wires":[]},{"id":"2b682fb9.df23c","type":"mqtt in","z":"6b9c950.7945c6c","name":"","topic":"User/Status","qos":"1","datatype":"auto","broker":"2a1eca1a.a53b96","x":150,"y":620,"wires":[["1609c3dd.90eb2c"]]},{"id":"1609c3dd.90eb2c","type":"debug","z":"6b9c950.7945c6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":640,"wires":[]},{"id":"73e599eb.dc1bc8","type":"debug","z":"6b9c950.7945c6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":520,"wires":[]},{"id":"976564d.8039f98","type":"mqtt out","z":"6b9c950.7945c6c","name":"Node Red Android Studio Test","topic":"Algorithm/Data","qos":"1","retain":"","broker":"2a1eca1a.a53b96","x":670,"y":840,"wires":[]},{"id":"36c8f4f4.2e603c","type":"inject","z":"6b9c950.7945c6c","name":"","topic":"","payload":"j,B,C,D,E,J","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":135,"y":814,"wires":[["976564d.8039f98"]]},{"id":"e4cbe105.4c80e","type":"inject","z":"6b9c950.7945c6c","name":"","topic":"","payload":"j,A,B,C,K","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":120,"y":920,"wires":[["976564d.8039f98"]]},{"id":"506755d9.f29e7c","type":"inject","z":"6b9c950.7945c6c","name":"","topic":"","payload":"c,A,B,H,G,K","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":131,"y":1001,"wires":[["976564d.8039f98"]]},{"id":"2a1eca1a.a53b96","type":"mqtt-broker","z":"","name":"cloud mqtt","broker":"hairdresser.cloudmqtt.com","port":"15955","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]